@use 'base/variables' as v;//immv
@use 'base/mixins' as m; //imm

.tabs{
    @include m.tablet{
        // el display flex es para que los elementos se alineen en el centro
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    button{
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        border-radius: 0.5rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        &:hover{
            background-color: darken(v.$azul, 10%);
            cursor: pointer;
        }
        &.actual{
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}
