@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    min-height: 60rem;
    background-image: url('/public/build/img/fondo.jpg'), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center center;
}