@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
   
  
    .header{
        height: 20rem;
        background: url('/public/build/img/2.jpg');
        
    }
    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet{
           overflow:auto;
          
        }
    }
        
    
}
