@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
   display: block;
}

.header{
    background: url('/public/build/img/2.jpg');
    height: 20rem;
   background-size: cover;
   padding: 7rem;

}